<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"> <!-- Link to your CSS file -->
    <title>Computer Vision Projects</title>
</head>
<body>
    <div class="container">
        <h1>My Computer Vision Projects</h1>
        <div class="card-grid">
            <div class="card">
                <!-- <img src="path/to/image1.jpg" alt="Project 1"> -->
                <h2>Fruit classifier</h2>
                
            </div>
            <div class="card">
                <!-- <img src="path/to/image2.jpg" alt="Project 2"> -->
                <h2>emotion-detection</h2>
              
            </div>

            <div class="card">
                <!-- <img src="path/to/image2.jpg" alt="Project 2"> -->
                <h2>motion-detection</h2>
              
            </div>
            <div class="card">
                <!-- <img src="path/to/image2.jpg" alt="Project 2"> -->
                <h2>ulralytics-yolov</h2>
              
            </div>
            
            <!-- Add more cards as needed -->
        </div>
    </div>
</body>
</html>
